.table{
    width: 70%;
    margin: 0 auto;
  }
  
 td, th{
      text-align: center;
  }

  .Usersh1 {
    text-align: center;
    color: #bdc3c7;
    padding: 160px;
    padding-bottom: 80px;
    margin-top: 0;
  }